.red {
    background-color: red;
    width: 200px;
    height: 200px;
}
.blue {
    background-color: blue;
    width: 200px;
    height: 200px;
}
.green {
    background-color: greenyellow;
    width: 200px;
    height: 200px;
}